<ngx-spinner
  bdOpacity="0.9"
  bdColor="#333"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <p style="color: white">Loading... Please Wait</p>
</ngx-spinner>
<mat-toolbar>
  <div class="content">
    <img class="img" src="{{ imga }}" />
    <div class="online"></div>
  </div>
  &nbsp;
  <h3>{{ getFeed.Name }}</h3>
  <button id="btn" mat-raised-button color="warn" (click)="logout()">
    Logout
  </button>
</mat-toolbar>

<!-- <button mat-button (click)="openSnackBar()">Show snack-bar</button> -->
<div class="row">
  <div class="col-md-4" *ngFor="let detail of feedcards.results; index as i">
    <mat-card class="example-card" id="cardd{{ i }}">
      <br /><br />
      <img
        style="border-radius: 50%;display:block;margin:auto;width:132px;height: 132px;"
        mat-card-image
        src=" http://92d99cf4.ngrok.io/{{ detail.multer }}"
      />

      <mat-card-content>
        <br />
        <label class="user_name">{{ detail.name }}</label
        ><br />

        <mat-form-field appearance="outline" style="width: 250px">
          <mat-label>Write your feedback here..</mat-label>
          <textarea
            #message
            id="text{{ i }}"
            maxlength="100"
            [(ngModel)]="back.feed[i]"
            (keyup)="textAreaAdjust(i)"
            matInput
            placeholder="Placeholder"
          ></textarea>
          <mat-hint align="start">Max 100 characters</mat-hint>
          <mat-hint align="end">{{ message.value?.length || 0 }}/100</mat-hint>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          id="id{{ i }}"
          style="display: block;margin-left: auto;margin-right: 14px"
          mat-raised-button
          color="primary"
          (click)="submitFeed($event, i, detail)"
        >
          Submit Feedback
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
