<!-- <h1>{{time}}</h1> -->
<!-- <ngx-spinner></ngx-spinner>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "square-jelly-box"
[fullScreen] = "true"
>
<p style="color: white" >Loading... Please Wait </p>
</ngx-spinner><br> -->
<div class="title">
    <label><b>Neo<font color="#CA1210">SCRUM</font></b></label>

</div>
<div class="carda">
  <mat-card class="login_card" style="margin-top:10%">
    <h1 style="text-align:center">Login</h1>
    
    <mat-card-content>
      <mat-form-field style="width:250px">
        <input [(ngModel)]='log.e_mail' matInput placeholder="Email" required (blur)="emaill()">
      </mat-form-field><br>
      <mat-form-field style="width:250px">
        <input [(ngModel)]='log.password' required matInput placeholder="Password" [type]="hide ? 'password' : 'text'" (blur)="pass()">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      
      <button mat-raised-button color="primary" (click)='register()'>Login</button>
      <!-- <button mat-button>Click me!</button> -->
    </mat-card-actions>
  </mat-card>
</div>

