<!-- <ngx-spinner
  bdOpacity="0.9"
  bdColor="#333"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <p style="color: white">Loading... Please Wait</p>
</ngx-spinner> -->

<mat-toolbar>
  <div class="content">
    <img class="img" src="{{ imga }}" />
    <div class="online"></div>
  </div>
  <h3>&nbsp;{{ getFeed.Name }}</h3>
  <!-- <h5>{{todayDate}}</h5> -->
  
  <button id="btn" mat-raised-button color="primary" (click)="add()">
    Add Feedback</button
  >&nbsp;&nbsp;
  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>
<br />
<hr />
<!-- <mat-grid-list cols="3" rowHeight="2:2">
          <mat-grid-tile *ngFor='let msge of getFeed.Feedback;index as i'>
            <mat-card id="card"><mat-toolbar id="card_title">Feedbacks
              <mat-icon id="icon" aria-hidden="false" matTooltip="Info about the action">query_builder</mat-icon>
            </mat-toolbar><br>{{msge.message}}
            
            </mat-card>
            
          </mat-grid-tile> -->
<!-- <mat-grid-tile><mat-card id="card">Simple card{{feedbacks[1].msg}}</mat-card></mat-grid-tile>
          <mat-grid-tile><mat-card id="card">Simple card{{feedbacks[2].msg}}</mat-card></mat-grid-tile>
          <mat-grid-tile><mat-card id="card">Simple card{{feedbacks[3].msg}}</mat-card></mat-grid-tile> -->

<!-- </mat-grid-list> -->

<!-- <div  *ngIf="feedbacks.Feedback.length"> -->
<!-- <div style="background:url(https://previews.123rf.com/images/rognar/rognar1002/rognar100200021/6443928-large-corkboard-texture-or-background-.jpg)"> -->

<div class="row">
  <div class="col-md-4" *ngFor="let msge of feedbacks.feedback; index as i">
    <!-- <script>
                      date=moment(msge[i].f_d).format("Do MMMM YYYY");
                      </script>  -->
    <mat-card id="card">
      <mat-toolbar
        id="card_title"
        class="card_title"
        [style.background]="backColor()"
        >Feedbacks
        <!-- <mat-icon id="icon" aria-hidden="false" matTooltip="{{msge.f_d|dateMoment :msge.f_d:msge.message}}">query_builder</mat-icon> -->
        <div style="margin-left:auto">
          {{ msge.f_d | dateMoment: msge.f_d }}
        </div> </mat-toolbar
      ><br />{{ msge.message }}
      <div class="footer">
        sent by:-{{ randomName | randomName }}

        <div class="footer2">posted on:- {{ msge.f_d | date: msge.f_d }}</div>
      </div>
    </mat-card>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->

<!-- <div *ngIf="!feedbacks.Feedback.length" style="text-align: center;">
            <h1>Nothing to show</h1>
            </div> -->
