/* img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
} */
#btn{
    margin-left: auto;
}
mat-grid-tile {
    /* background: #EAECF0; */
    background: #b3d9ff
    /* padding:  */
  }
/* #card3{
    width:280px;
    height:250px;
    margin-top: 20px;
    margin-left:20px;
    border:2px solid#f9f878;
}
#card1{
    width:280px;
    height:250px;
    margin-top: 20px;
    margin-left:20px;
    border:2px solid#f3b36f
}
#card2{
    width:280px;
    height:250px;
    margin-top: 20px;
    margin-left:20px;
    border:2px solid#b3d9ff
} */
#card{
    width:280px;
    height:250px;
    margin-top: 20px;
    margin-left:10px;
    border:1px solid black;
    box-shadow: 10px 10px 5px grey;    
}

.card_title{
    height: 40px;
    font-size: 12px;
background-color: #f68a8a
    
}
#card_title1{
    background-color:#f3b36f
}
#card_title2{
    background-color: #b3d9ff
}
#card_title3{
    background-color:#f9f878
}
#card_title4{
    height: 40px;
    font-size: 12px;
background-color: #67d781
    
}

#icon{
    margin-left: auto;
    font-size: 20px;
}
.footer{
    bottom: 10px;
    right: 10px;
    display: block;
    position: absolute;
    font-size: 10px  
}
.img{
    border-radius: 50%;
    /* border:1px solid black; */
    z-index: 0;
    margin-top:13px;
    /* position: absolute;	 */
    /* z-index: 0; */
    /* position: absolute;	 */
    width: 40px;
    height: 40px;
}
.content{
    position: relative;
    z-index: 0;
    height: 100%;
    /*width: */
}
.online{
    top: 40px;
    left: 29px;
    /*bottom: 0px;*/
    border:1.2px solid white;
    background-color: green;
    width:12px;
    height:12px;
    border-radius: 50%;
    z-index: 1;
    margin-left: auto;
    position: absolute;	
}
@media only screen and (min-width: 1440px){
    #card{
        width:400px;
        height:300px;
        margin-top: 20px;
        margin-left:10px;
        font-size:25px;
        border:1px solid black;
        box-shadow: 10px 10px 5px grey;    
    }
    
}
@media only screen and (min-width: 2560px){
    #card{
        width:600px;
        height:500px;
        margin-top: 40px;
        margin-left:20px;
        border:1px solid black;
        font-size:40px; 
        box-shadow: 20px 20px 10px grey;    
    }
    .card_title{
        height:60px;
        font-size: 30px;
    background-color: #f68a8a
        
    }
    #card_title1{
        height:60px;
        font-size:30px;
    background-color: #f68a8a
        
    }
    #card_title1{
        height:60px;
        font-size:30px;
        background-color:#f3b36f
    }
    #card_title2{
        height:60px;
        font-size:30px;
        background-color: #b3d9ff
    }
    #card_title3{
        height:60px;
        font-size:30px;
        background-color:#f9f878
    }
    #card_title4{
        
        height: 40px;
        font-size: 12px;
    background-color: #67d781
        
    }
    .footer{
        bottom: 10px;
        right: 10px;
        display: block;
        position: absolute;
        font-size: 20px  
    }
    /* img{
        
    } */
    
    
}
