<div class="title">
  <label
    ><b>Neo<font color="#CA1210">SCRUM</font></b></label
  >
</div>
<mat-card class="admin_card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Enter New Developer</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field style="width:280px">
      <input
        [(ngModel)]="new.name"
        matInput
        placeholder="Employee Name"
        (blur)="name()"
        required
      /> </mat-form-field
    ><br />
    <mat-form-field style="width:280px">
      <input
        [(ngModel)]="new.e_mail"
        matInput
        placeholder="Email"
        (blur)="email()"
        required
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    &nbsp;&nbsp;&nbsp;&nbsp;<input
      class="upload_btn"
      type="file"
      (change)="selectedImg($event)"
    /><br /><br />
    <button mat-raised-button color="primary" (click)="register()">
      Submit
    </button>
    <!-- <button mat-button>Click me!</button> -->
  </mat-card-actions>
</mat-card>
